@font-face {
  font-family:"graph";
  src: url("../fonts/graph-condensed-paris-web.woff") format("woff2"),
       url("../fonts/graph-condensed-paris-web.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family:"graph";
  src: url("../fonts/graph-condensed-paris-web.woff") format("woff2"),
       url("../fonts/graph-condensed-paris-web.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}